<div ng-controller="login">
    <link rel="stylesheet" href="styles/login.css">
    <div class="container">
        <div class="card card-container">
            <img class="logo-img-card" src="images/logo.PNG" alt="" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input ng-model="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> remember me
                    </label>
                </div>
                <button ng-click="submitLogin()" class="btn btn-lg btn-success btn-block btn-signin" type="submit">Login</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</div>